In [1]:
import pandas as pd

In [11]:
pd.read_html('Child Health.xls')[0]

,Indicators,1,2,3,4,5,6,7,8,9,...,Unnamed: 76_level_0,Unnamed: 77_level_0,Unnamed: 78_level_0,Unnamed: 79_level_0,Unnamed: 80_level_0,Unnamed: 81_level_0,Unnamed: 82_level_0,Unnamed: 83_level_0,Unnamed: 84_level_0,Unnamed: 85_level_0
,Total Number of reported live births,% Total Reported Live Births to Total Deliveries,Total Number of reported Still Births,% live birth to Reported Birth,Number of Newborns weighed at birth,Number of Infants given OPV 0 (Birth Dose),Number of Infants given BCG,% Newborns given OPV0 at birth to Reported live birth,% Newborns given BCG to Reported live birth,Number of Infants given DPT1,...,Unnamed: 76_level_1,Unnamed: 77_level_1,Unnamed: 78_level_1,Unnamed: 79_level_1,Unnamed: 80_level_1,Unnamed: 81_level_1,Unnamed: 82_level_1,Unnamed: 83_level_1,Unnamed: 84_level_1,Unnamed: 85_level_1
,2008-09,2007-08,2008-09,2007-08,2008-09,2007-08,2008-09,2007-08,2008-09,2007-08,...,2008-09,2007-08,2008-09,2007-08,2008-09,2007-08,2008-09,2007-08,Unnamed: 84_level_2,Unnamed: 85_level_2
0,NaN,_Assam,359175,NaN,97.0,0.0,9241,NaN,97.5,NaN,...,1.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN,96.3,NaN
1,1.0,Baksa,7686,NaN,100.2,NaN,91,NaN,98.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Barpeta,22888,NaN,97.9,NaN,494,NaN,97.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Bongaigaon,8012,NaN,97.2,NaN,234,NaN,97.2,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0,NaN
4,4.0,Cachar,25909,NaN,96.8,NaN,883,NaN,96.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,Chirang,4411,NaN,98.8,NaN,67,NaN,98.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6.0,Darrang,9875,NaN,97.3,NaN,303,NaN,97.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7.0,Dhemaji,9376,NaN,98.2,NaN,198,NaN,97.9,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0,NaN
8,8.0,Dhubri,20135,NaN,97.8,NaN,446,NaN,97.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,Dibrugarh,12595,NaN,86.1,NaN,256,NaN,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10.0,Goalpara,11851,NaN,98.0,NaN,236,NaN,98.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0,NaN
11,11.0,Golaghat,12325,NaN,97.5,NaN,317,NaN,97.5,NaN,...,35.7,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
12,12.0,Hailakandi,8671,NaN,96.6,NaN,345,NaN,96.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13.0,Jorhat,11580,NaN,97.6,NaN,265,NaN,97.8,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0,NaN
14,14.0,Kamrup M,18090,NaN,96.0,0.0,762,NaN,96.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0,NaN
15,15.0,Kamrup R,16043,NaN,115.8,NaN,1045,NaN,93.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16.0,Karbi Anglong,11260,NaN,98.1,NaN,220,NaN,98.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17.0,Karimganj,13392,NaN,97.5,NaN,415,NaN,97.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18.0,Kokrajhar,12426,NaN,98.9,NaN,239,NaN,98.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19.0,Lakhimpur,12977,NaN,99.3,NaN,84,NaN,99.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20.0,Marigaon,11593,NaN,95.3,NaN,323,NaN,97.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21.0,Nagaon,29698,NaN,86.0,NaN,655,NaN,97.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22.0,Nalbari,8930,NaN,98.5,NaN,195,NaN,97.9,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0,NaN
23,23.0,North Cachar Hills,2346,NaN,99.2,NaN,31,NaN,98.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24.0,Sibsagar,11147,NaN,98.4,NaN,183,NaN,98.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25.0,Sonitpur,23692,NaN,99.0,NaN,707,NaN,97.1,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0,NaN
26,26.0,Tinsukia,14106,NaN,99.1,NaN,136,NaN,99.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0,NaN
27,27.0,Udalguri,8161,NaN,98.7,NaN,111,NaN,98.7,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,100.0,NaN